<nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-label="main navigation">
  <div class="flex flex-wrap items-center justify-center lg:justify-start lg:content-center px-4 lg:px-6 lg:space-x-3 lg:py-0 py-3">
    
    <%= link_to root_path, class: "leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-indigo-600 lg:w-auto w-full lg:text-left text-center" do %>
      <h1 class="text-lg pr-2 uppercase font-semibold">Webbit</h1>
    <% end %>

    <div class="flex flex-wrap justify-start w-full lg:w-2/3 flex-1">

      <div class ='flex flex-wrap items-center flex-1 space-x-6'>
        <div class='w-1/3'>
          <div class='relative'>
            <select class='select'>
              <option>Home</option>
              <option>Popular</option>
              <option>Top</option>
              <option>New</option>
            </select>
          </div>
        </div>
      </div>

      <div class='w-full lg:w-1/2 px-0 md:px-2'>
        <div class='relative'>
          <input type='text' class="input pl-10" placeholder="Search">
          <div class='pointer-events-none absolute left-1 top-3 flex items-center'> 
            <%= render_svg "icons/search", styles: "stroke-current w-5 text-gray-600" %>
          </div>
        </div>
      </div>

      <div class='w-full flex flex-wrap flex-1 items-center justify-end pt-4 lg:pt-0'>
        <div class="mr-3">
          <% if user_signed_in? %>
            <%= link_to new_submission_path, class: "p-4 rounded hover:bg-indigo-50 bg-white block group" do %>
              <%= render_svg "icons/create", styles: "group-hover:text-indigo-600 fill-current text-gray-600", title: "Create submission" %>
            <% end %>
          <% else %>
              <%= link_to "Login", new_user_session_path, class: "btn-small btn-outline mr-2" %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn-small btn-indigo" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</nav>  