<% content_for :community_label, @feed_title %>
<% content_for :primary_content do %>

  <% if @submissions.any? %>
    <div id="submissions">
      <ul class="divide-y list-none">
        <% @submissions.each_with_index do |submission, index| %>
          <%= inject_feed_ad(index) %>
          <%= render submission %>
          <hr/>
        <% end %>
      </ul>
      <%== pagy_nav(@pagy) if @pagy.pages > 1%>
    </div>
  <% else %>
    <div class="p-10 text-center">
      <div class="flex justify-center mb-3">
        <%= render_svg "icons/empty" %>
      </div>
      <p class="mb-4">Wow such empty...</p>
      <%= link_to "Create a new submission", new_submission_path, class: "btn btn-indigo" %>
    </div>
  <% end %>

<% end %>

<% content_for :secondary_content do %>
  <div class="px-4 pt-4 pb-4">
    <% if user_signed_in? %>
      <div class="flex flex-row items-center justify-between">
        <div><h3 class="font-bold text-lg mb-3">Welcome, <%= current_user.username %></h3></div>
        <div><%= gravatar_for(current_user, class: "rounded-full w-20 h-20") %></div>
      </div>
      <div>
        <%= link_to "Create submission", new_submission_path, class: "btn-small btn-indigo" %>
      </div>
      <div class="mt-4">
        <%= link_to "Create community", new_community_path, class: "btn-small btn-outline" %>
      </div>
    <% else %>
      <%= image_tag "illustration.svg", class: "max-w-full" %>

      <h3 class="font-bold text-lg">Explore</h3>
      <p class="text-gray-600 text-sm my-3">Find your breaking news, sports, TV fan theories, or never-ending streams of
        cute animals.</p>
      <%= link_to "How Webbit works", "#", class: "btn btn-indigo my-2 block text-center" %>
    <% end %>
  </div>
<% end %>

<%= render 'basic_layout' %>